<div class="footer-basic bw-footer">
    <p class="text-center">Reach me Via</p>
    <footer>
        <div class="social">
            <a href="https://www.github.com/kyawsoe-dev" target="_blank"><i class="icon ion-social-github"></i></a>
            <a href="https://www.facebook.com/oo.kyawsoe.526" target="_blank"><i class="icon ion-social-facebook"></i></a>
            <a href="mailto:kyawsoedeveloper@gmail.com" target="_blank"><i class="icon ion-android-mail"></i></a>
            <a href="https://www.linkedin.com/in/kyaw-soe-328363223" target="_blank"><i class="icon ion-social-linkedin"></i></a>
        </div>
        <p class="copyright">
            &copy; <span id="year"></span>, All Rights Reserved.
        </p>
    </footer>
</div>